/* General classes used for the whole page */

body {
    /*margin and padding are here to resest predefined margin and padding values set by the browser */
    font-family: "Arial", Gadget, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    margin-top: 80px;
}

* {
    padding: 0;
}

.content {
    text-align: left;
}

.container {
    text-align: center;
}

.text-container {
    text-align: center;
    margin: 0 auto;
    width: 75vw;
}


/* Mobile divs */

.show-nav-button {
    /*only should be visible for mobile so hidden here */
    display: none;
}


/* Image Gallery */

.image-container {
    /* aligned to top so it sits at the top of the div instead of the bottom, inline block keeps them next to each other */
    width: 30%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

.image-circle {
    /* this makes the images into a circle, overflow hides the image not in the circle*/
    border-radius: 50%;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
}

.image-gallery {
    height: 100%;
    width: 100%;
}

.image-caption {
    margin-top: 20px
}


/* Navigation styling */

.page-header {
    text-align: center;
    height: 20px;
}

.nav-header {
    background-color: #ffdf43;
    font-size: 80%;
    width: 100%;
    /*postion fixed and top 0 keeps the nav bar at the top of the page constantly */
    position: fixed;
    top: 0;
    /* keeps it always on top so nothing can scroll over it */
    z-index: 1;
}

.page-nav {
    font-family: "Arial", Gadget, sans-serif;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #ffdf43;
}

.nav-inline {
    display: inline-block;
}

.nav-link {
    display: inline-block;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.nav-inline a {
    text-decoration: none;
    color: black;
}

.int-link {
    padding-top: 80px;
    margin-top: -80px;
}


/* Footer Styling */

.page-footer {
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    text-align: center;
}

.social-media {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.fa {
    padding-bottom: 5px;
    padding-top:    5px;
    padding-left: 10px;
    cursor: pointer;
}

/* Form Styling */

label {
    display: block;
    padding-bottom: 0.2em;
}

input,
textarea {
    padding: 0.2em;
    font-size: 1.5em;
    min-width: 40%;
    max-width: 70%;
    font-family: roboto, arial, helvetica, sans-serif;
    border: 1px solid #bbb;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.contact-button {
    display: inline-block;
    min-width: auto;
    max-width: auto;
    background-color: #ffdf43;
    border: 0;
    padding: 10px 30px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-appearance: none;
}

@media screen and (max-width: 921px) {
    /* Image Gallery just changing the size of the images*/
    .image-container {
        width: 40%;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .image-circle {
        width: 40vw;
        height: 40vw;
    }
    /* General classes used for the whole page */
    .text-container {
        width: 75%;
    }
    /* Navigation Styling */
    .page-header {
        text-align: center;
    }
}

@media screen and (max-width: 638px) {
    /* General classes used for the whole page */
    .text-container {
        width: 80%;
    }
}

@media screen and (max-width: 562px) {
    /* Image Gallery just changing the size of the images*/
    .image-circle {
        width: 60vw;
        height: 60vw;
    }
    .image-container {
        width: 90%;
    }
    /* General classes used for the whole page */
    .text-container {
        width: 90%;
    }
}

@media screen and (max-width: 440px) {
    /* General classes used for the whole page */
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .text-container {
        width: 100%;
        padding-left: 5px;
        padding-right: 10px;
    }
    body {
        margin: 70px 0px 0px 0px;
    }
    /*Footer Styling */
    
    /*Image Gallery*/
    .image-circle {
        width: 60vw;
        height: 60vw;
    }
    .image-container {
        width: 100%;
    }
    .image-caption {
        margin-right: 5px;
        margin-left: 5px;
    }
    /* Styling for the slick carousel */
    .image-gallery .content {
        display: flex;
    }
    .image-gallery .image-container {
        flex-basis: 33%;
    }
    .slick-arrow {
        display: inline-block;
        min-width: auto;
        max-width: auto;
        background-color: #ffdf43;
        border: 0;
        padding: 10px 30px;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-appearance: none;
    }
    button.slick-next {
        visibility: hidden;
    }
    /* Nav styling to change it to the mobile nav */
    /* when a class has .shown on the end it means the nav links is open, so the padding changes to reflect this */
    .nav-link {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .show-nav-button {
        display: initial;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        background-color: black;
        text-align: right;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .page-header {
        height: 30px;
    }
    .page-nav {
        text-align: left;
        font-size: 15px;
        background-color: black;
        height: 35px;
        width: 100%;
    }
    .nav-inline {
        display: block;
    }
    .ul-links {
        display: none;
    }
    .ul-links.shown {
        display: initial;
    }
    .bdy.shown {
        margin: 210px 0px 0px 0px;
    }
    .up-arrow {
        display: none;
    }
    .up-arrow.shown {
        display: initial;
    }
    .arrows {
        fill: white !important;
        margin-right: 10px;
    }
    .down-arrow.shown {
        display: none;
    }
    .int-link.shown {
        padding-top: 215px;
        margin-top: -215px;
    }
    .int-link {
        padding-top: 80px;
        margin-top: -80px;
    }
}

@media screen and (max-width: 375px) {
    /* Nav styling */
    .nav-header {
        font-size: 60%;
    }
    .bdy.shown {
        margin: 209px 0px 0px 0px;
    }
}