        .image-container {
        width: 30%;
        text-align: center;
        border: 1px solid #c30;
                display: inline-block;

        
    }

    .image-circle {
        border-radius: 50%;
        /*Sets a circle on the image*/
        overflow: hidden;
        /*Hides the image not in the circle */
        width: 25vw;
        /* Sets the width of the circle to 20 viewport width*/
        height: 25vw;
        /* Sets the width of the circle to 20 viewport width, I use width here as well so that the radius is consistent*/
        margin: 0 auto;
        /* Centres it */
    }
    
    .image-gallery {
        height: 100%;
        /* Makes the picture centre in the circle */
    width: 100%;
}

