  body {
    font-family: "Arial", Gadget, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    margin-top: 70px;
  }
  
  .image-circle {
    width: 60vw;
    height: 60vw;
     border-radius: 50%;
    overflow: hidden;
  
    margin: 0 auto;
  }
  
  .image-container {
    width: 85%;
    text-align: center;
    border: 1px solid #c30;
    display: inline-block;
  }
  
  .image-gallery {
    height: 100%;
    width: 100%;
}
  .text-container {
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }
  
  .container {
    text-align: center;
  }

  
  .page-header {

    text-align: center;
    height: 20px;
  }
  
  .page-nav {
    text-align: left;
    margin: 0 ;
    font-family: "Arial", Gadget, sans-serif;
    width: 100%;
    height: 40px;
  }
  
  .nav-header {

    position: fixed;
    top: 0;
    font-size: 80%;
    width: 100%;
  }
  
  .nav-link {
    display: inline-block;
    border: 1px solid black;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: white;
  }
  
  .nav-link a {
    text-decoration: none;
  }
  
  .int-link {
    padding-top: 70px;
    margin-top: -70px;
  }


@media screen and (min-width: 562px) {
    .image-container {
        width: 80%;
    }
    .text-container {
        width: 80%;
    }
    .image-circle {
    width: 40vw;
        height: 40vw;;
}
  .page-nav {
    text-align: center;
  }

  .nav-header {
  background-color: white;
  }
 
   
}

